@import '../../css/main';

$top-padding: 150px;
$left-padding: 30px;
$right-padding: 30px;

$napkin-image-width: 180%;
$max-napkin-width: 720px;

$napkin-image-aspect-ratio: 0.99404761904;

:host {
  @include page();
  margin-left: -12px;
  margin-top: -62px;
  font-size: font-size(l);
}

h2 {
  margin-bottom: 36px;
}

.card-background-image {
  max-width: $max-napkin-width;
  width: $napkin-image-width;
}

.page-content {
  max-width: $max-napkin-width;
  padding: $top-padding $right-padding 0 $left-padding;
}

@media(max-width: $small-screen-width-threshold) {
  $napkin-width-small-screen: 130%;

  :host {
    margin-left: 0;
    margin-top: -5%;
  }

  .card-background-image {
    width: $napkin-width-small-screen;
  }

  .page-content {
    padding: 100px 100px 0 100px;
    width: $napkin-width-small-screen;
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  :host {
    font-size: font-size(s);
  }

  .page-content {
    padding: 70px 70px 0 70px;
  }
}
