<img class="card-background-image"
     src="assets/images/napkin.png"
     alt="A napkin in the background" />

<div class="page-content">
  <h2>
    <img class="card-header-image"
         src="assets/images/contact-header.png"
         alt="Contact" />
  </h2>

  <p>
    Hear Alden&apos;s songs on <a href="https://soundcloud.com/aldenwitt/sets/alden-witt-playlist/s-lo9Lr">
    SoundClound</a>.
  </p>

  <p>
    For catalogue, collaboration, or production inquiries, please contact:
    <a href="mailto:info@aldenwitt.com">info@aldenwitt.com</a>
  </p>
</div>
