@import '../../css/main';

$top-padding: 100px;
$left-padding: 90px;
$right-padding: 92px;

$max-napkin-width: 732px;

$napkin-image-aspect-ratio: 0.99404761904;

:host {
  @include page();
  margin-top: -146px;
  margin-left: 38px;
}

.card-background-image {
  max-width: $max-napkin-width;
}

.page-content {
  max-width: $max-napkin-width;
  padding: $top-padding $right-padding 0 $left-padding;
}

@media(max-width: $small-screen-width-threshold) {
  $napkin-width-small-screen: 780px;
  $napkin-image-margin-top: -20px;

  :host {
    margin-top: 0;
    margin-left: 0;
  }

  .card-background-image {
    margin-top: $napkin-image-margin-top;
    width: $napkin-width-small-screen;
  }

  .page-content {
    max-width: $napkin-width-small-screen - 250px;
    padding: $top-padding + $napkin-image-margin-top 0 0;
  }
}
