@import '../../css/main';

$envelope-width: 660px;
$top-padding: 80px;
$left-padding: 70px;
$right-padding: 72px;

$envelope-image-aspect-ratio: 0.99404761904;
$envelope-height: $envelope-width / $envelope-image-aspect-ratio;

:host {
  @include page();
  margin-top: -30px;
  padding-left: 10px;
}

.page-content {
  @include image-background('assets/images/napkin.png', $envelope-width, $envelope-height);
  height: $envelope-height - $top-padding;
  padding: $top-padding $right-padding 0 $left-padding;
  width: $envelope-width - ($left-padding + $right-padding);
}

@media(max-width: $small-screen-width-threshold) {
  :host {
    padding-left: 0;
    margin-left: -52px;
  }
}
