@import '../../../css/main';

$vertical-nav-item-height: 44px;
$vertical-nav-min-width: 271px;

$underline-width: 96px;

$news-item-offset: 30px;

nav,
.nav-items {
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  opacity: 0.72;

  &:hover {
    opacity: 0.95;
  }
  &:active {
    opacity: 0.6;
  }
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  img {
    height: 40px;
    margin: 0 13px;
  }
}

//
// Show a vertical alignment for wide screens.
//

.vertical-nav {
  display: flex;
  min-width: $vertical-nav-min-width;

  h2,
  h2>img {
    display: none; // TODO: remove the element from the page and stop loading the image?
    width: 100%;
  }

  h2 {
    //margin: 0 0 -14px 4%;
  }

  .nav-items {
    margin-top: 20px;

    > div:nth-child(2) {
      position: relative;
      left: -$news-item-offset;
      margin-right: -$news-item-offset;
    }
  }

  .nav-text-image {
    height: $vertical-nav-item-height;
  }

  a,
  .current-route-item {
    height: $vertical-nav-item-height;
    margin-bottom: 12px;
  }

  .social-media-icons {
    justify-content: flex-start;
    margin-top: 16px;
    padding-left: 42px;
  }

  .video {
    margin-top: 16px;
    padding: 0 40px;
  }

  .check-it-out {
    width: 200px;
    margin-left: 14px;
  }

  .buy-links {
    display: flex;
    font-size: font-size(m);
    justify-content: center;

    > a {
      margin: 0 20px;
    }
  }
}

.horizontal-nav {
  align-items: center;
  display: none;
  position: relative;
  z-index: 10;

  .top-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -16px 0 -4px;
    width: 100%;
  }

  .nav-items {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    width: 108%;
  }

  h2,
  h2>img {
    height: 80px;
  }

  .nav-text-image {
    height: 40px;
  }

  a {
    text-align: center;
  }

  .nav-items > div,
  .current-route-item {
    display: flex;
    flex-direction: column;
    min-width: $underline-width;
  }
}

.current-route-item {
  display: flex;
  align-items: center;
}

.route-indicator {
  &.star {
    display: inline;
    height: $vertical-nav-item-height;
    margin-left: 12px;
    position: relative;
    top: -2px;
  }
  &.underline {
    width: $underline-width;
  }
}

//
// Show a horizontal alignment for narrow screens.
//

@media(max-width: $small-screen-width-threshold) {
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vertical-nav {
    display: none;
  }

  .horizontal-nav {
    display: flex;
  }

  .top-bar,
  nav {
    width: 100%;
    max-width: 540px;
  }

  .social-media-icons img {
    height: 30px;
    margin: 0 10px;
  }
}

$xs-underline-width: 70px;

@media(max-width: $extra-small-screen-width-threshold) {
  .horizontal-nav {
    h2,
    h2 > img {
      height: 50px;
    }

    .nav-text-image {
      height: 24px;
    }

    .nav-items {
      padding: 0;
    }

    .nav-items > div,
    .current-route-item {
      min-width: $xs-underline-width;
    }
  }

  .top-bar,
  nav {
    max-width: 354px;
  }

  .social-media-icons img {
    height: 20px;
    margin: 0 6px;
  }

  .route-indicator.underline {
    width: $xs-underline-width;
  }
}
