<nav class="vertical-nav">
  <div *ngFor="let route of routeConfig">

    <a *ngIf="router.currentRoute !== route"
       routerLink="{{route.name}}">

      <img class="nav-text-image"
           [src]="route.verticalNavTextImage"
           alt="{{route.label}} route" />
    </a>

    <div *ngIf="router.currentRoute === route"
         class="current-route-item">

      <img class="nav-text-image"
           [src]="route.verticalNavTextImage"
           alt="{{route.label}} route" />

      <img class="route-indicator star"
           [src]="route.verticalNavIndicatorImage"
           alt="Current route indicator"/>
    </div>
  </div>
</nav>

<nav class="horizontal-nav">
  <div *ngFor="let route of routeConfig">

    <a *ngIf="router.currentRoute !== route"
       routerLink="{{route.name}}">

      <img class="nav-text-image"
           [src]="route.horizontalNavTextImage"
           alt="{{route.label}} route" />
    </a>

    <div *ngIf="router.currentRoute === route"
         class="current-route-item">

      <img class="nav-text-image"
           [src]="route.horizontalNavTextImage"
           alt="{{route.label}} route" />

      <img class="route-indicator underline"
           [src]="route.horizontalNavIndicatorImage"
           alt="Current route indicator"/>
    </div>
  </div>
</nav>
