<nav class="vertical-nav">
  <h2>
    <img src="assets/images/songwriter.png"
         alt="Songwriter!" />
  </h2>

  <div class="nav-items">
    <div *ngFor="let route of routeConfig">

      <a *ngIf="router.currentRoute !== route"
         routerLink="{{route.name}}">

        <img class="nav-text-image"
             [src]="route.verticalNavTextImage"
             alt="{{route.label}} route" />
      </a>

      <div *ngIf="router.currentRoute === route"
           class="current-route-item">

        <img class="nav-text-image"
             [src]="route.verticalNavTextImage"
             alt="{{route.label}} route" />

        <img class="route-indicator star"
             [src]="route.verticalNavIndicatorImage"
             alt="Current route indicator"/>
      </div>
    </div>
  </div>

  <div class="social-media-icons">
    <a *ngFor="let datum of socialMediaData"
         [href]="datum.link"
         target="_blank">
      <img [src]="datum.src"
           alt="{{datum.alt}}" />
    </a>
  </div>

  <div class="instagram-feed">
    <blockquote
      class="instagram-media"
      data-instgrm-version="7"
      style="
        background:#FFF;
        border:0;
        border-radius:3px;
        box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
        margin: 1px;
        max-width:658px;
        padding:0;
        width:99.375%;
        width:-webkit-calc(100% - 2px);
        width:calc(100% - 2px);">
      <div style="padding:8px;">
        <div style="
                background:#F8F8F8;
                line-height:0;
                margin-top:40px;
                padding:50.0% 0;
                text-align:center;
                width:100%;">
          <div style="
                  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC);
                  display:block;
                  height:44px;
                  margin:0 auto -44px;
                  position:relative;
                  top:-22px;
                  width:44px;">
          </div>
        </div>
        <p style="
              color:#c9c8cd;
              font-family:Arial,sans-serif;
              font-size:14px;
              line-height:17px;
              margin-bottom:0;
              margin-top:8px;
              overflow:hidden;
              padding:8px 0 7px;
              text-align:center;
              text-overflow:ellipsis;
              white-space:nowrap;">
          <a href="https://www.instagram.com/p/BMnFrZXAVM7/"
             style="color:#c9c8cd;
                 font-family:Arial,sans-serif;
                 font-size:14px;
                 font-style:normal;
                 font-weight:normal;
                 line-height:17px;
                 text-decoration:none;"
             target="_blank">
            A photo posted by @levilindsey
          </a>
          on
          <time style="
                  font-family:Arial,sans-serif;
                  font-size:14px;
                  line-height:17px;"
                datetime="2016-11-10T01:12:58+00:00">
            Nov 9, 2016 at 5:12pm PST
          </time>
        </p>
      </div>
    </blockquote>

    <script
      async
      defer
      src="http://platform.instagram.com/en_US/embeds.js">
    </script>
  </div>
</nav>

<nav class="horizontal-nav">
  <div class="top-bar">
    <div class="social-media-icons">
      <a *ngFor="let datum of socialMediaData"
         [href]="datum.link"
         target="_blank">
        <img [src]="datum.src"
             alt="{{datum.alt}}" />
      </a>
    </div>

    <h2>
      <img src="assets/images/songwriter.png"
           alt="Songwriter!" />
    </h2>
  </div>

  <div class="nav-items">
    <div *ngFor="let route of routeConfig">

      <a *ngIf="router.currentRoute !== route"
         routerLink="{{route.name}}">

        <img class="nav-text-image"
             [src]="route.horizontalNavTextImage"
             alt="{{route.label}} route" />
      </a>

      <div *ngIf="router.currentRoute === route"
           class="current-route-item">

        <img class="nav-text-image"
             [src]="route.horizontalNavTextImage"
             alt="{{route.label}} route" />

        <img class="route-indicator underline"
             [src]="route.horizontalNavIndicatorImage"
             alt="Current route indicator"/>
      </div>
    </div>
  </div>
</nav>
