@import '../../../css/main';

$vertical-nav-item-height: 44px;

nav,
.nav-items {
  display: flex;
  flex-direction: column;
}

a,
.current-route-item {
  color: #080808;
  font-size: font-size(xl);
  font-weight: bold;
  height: $vertical-nav-item-height;
}

a {
  color: #666666;
  display: block;

  &:hover {
    color: #000000;
  }
  &:active {
    color: #999999;
  }
}

//
// Show a vertical alignment for wide screens.
//

.vertical-nav {
  display: flex;

  h2,
  h2>img {
    width: 100%;
  }

  h2 {
    margin: 0 0 -14px 4%;
  }

  .nav-text-image {
    height: $vertical-nav-item-height;
  }

  a,
  .current-route-item {
    margin-bottom: 12px;
  }
}

.horizontal-nav {
  align-items: center;
  display: none;
  position: relative;
  z-index: 10;

  .nav-items {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 40px;
  }

  h2,
  h2>img {
    height: 80px;
    margin: -8px 0 -10px 160px;
  }

  .nav-text-image {
    height: 40px;
  }

  a {
    text-align: center;
  }

  .nav-items > div,
  .current-route-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    min-width: 150px;
  }
}

.current-route-item {
  display: flex;
  align-items: center;
}

.route-indicator {
  &.star {
    display: inline;
    height: $vertical-nav-item-height;
    margin-left: 12px;
    position: relative;
    top: -2px;
  }
  &.underline {
    width: 96px;
  }
}

//
// Show a horizontal alignment for narrow screens.
//

@media(max-width: $small-screen-width-threshold) {
  .vertical-nav {
    display: none;
  }

  .horizontal-nav {
    display: flex;
  }
}
