@import '../../../css/main';

$vertical-nav-item-height: 44px;
$vertical-nav-min-width: 271px;

nav,
.nav-items {
  display: flex;
  flex-direction: column;
}

a,
.current-route-item {
  color: #080808;
  font-size: font-size(xl);
  font-weight: bold;
  height: $vertical-nav-item-height;
}

a {
  color: #666666;
  display: block;
  opacity: 0.72;

  &:hover {
    color: #000000;
    opacity: 0.95;
  }
  &:active {
    color: #999999;
    opacity: 0.6;
  }
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  img {
    height: 40px;
    margin: 0 13px;
  }
}

//
// Show a vertical alignment for wide screens.
//

.vertical-nav {
  display: flex;
  min-width: $vertical-nav-min-width;

  h2,
  h2>img {
    width: 100%;
  }

  h2 {
    margin: 0 0 -14px 4%;
  }

  .nav-text-image {
    height: $vertical-nav-item-height;
  }

  a,
  .current-route-item {
    margin-bottom: 12px;
  }

  .social-media-icons {
    margin-top: 16px;
  }
}

.horizontal-nav {
  align-items: center;
  display: none;
  position: relative;
  z-index: 10;

  .top-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -16px 0 -4px;
    width: 100%;
  }

  .nav-items {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 40px;
  }

  h2,
  h2>img {
    height: 80px;
  }

  .nav-text-image {
    height: 40px;
  }

  a {
    text-align: center;
  }

  .nav-items > div,
  .current-route-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    min-width: 150px;
  }
}

.current-route-item {
  display: flex;
  align-items: center;
}

.route-indicator {
  &.star {
    display: inline;
    height: $vertical-nav-item-height;
    margin-left: 12px;
    position: relative;
    top: -2px;
  }
  &.underline {
    width: 96px;
  }
}

//
// Show a horizontal alignment for narrow screens.
//

@media(max-width: $small-screen-width-threshold) {
  .vertical-nav {
    display: none;
  }

  .horizontal-nav {
    display: flex;
  }

  .top-bar {
    max-width: 540px;
  }

  .social-media-icons img {
    height: 30px;
    margin: 0 10px;
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  .horizontal-nav {
    h2,
    h2 > img {
      height: 50px;
    }

    .nav-text-image {
      height: 30px;
    }

    .nav-items > div,
    .current-route-item {
      width: 110px;
      min-width: 110px;
    }
  }

  .top-bar {
    max-width: 354px;
  }

  .social-media-icons img {
    height: 20px;
    margin: 0 6px;
  }
}
