@import '../../css/main';

$top-padding: 100px;
$left-padding: 30px;
$right-padding: 30px;

$polaroid-image-width: 120%;
$max-polaroid-width: 662px;

$polaroid-image-aspect-ratio: 0.99404761904;

:host {
  @include page();
  display: block;
  font-size: font-size(l);
  margin-left: 2px;
  margin-top: -38px;
}

.card-background-image {
  width: $polaroid-image-width;
}

$proportional-top-padding: calc(#{(1 / $polaroid-image-aspect-ratio) * 100%} + #{$top-padding});

.page-content {
  padding: $proportional-top-padding $right-padding 0 $left-padding;
  text-align: center;
}

p {
  position: relative;
  bottom: 30px;
}

@media(max-width: $small-screen-width-threshold) {
  $polaroid-width-small-screen: 110%;

  :host {
    margin-top: -12px;
    margin-left: 0;
  }

  .card-background-image {
    width: $polaroid-width-small-screen;
  }

  .page-content {
    padding: $proportional-top-padding 0 0;
  }

  p {
    bottom: 80px;
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  :host {
    font-size: font-size(m);
  }
}
