@import '../../css/main';

$top-padding: 100px;
$left-padding: 90px;
$right-padding: 92px;

$max-polaroid-width: 680px;

$polaroid-image-aspect-ratio: 0.99404761904;

:host {
  @include page();
  margin-left: 80px;
  margin-top: -154px;
  max-width: $max-polaroid-width;

  &:before {
    content: '';
    padding-bottom: (1 / $polaroid-image-aspect-ratio) * 100%;
    position: relative;
    width: 100%;
  }
}

.card-background-image {
  max-width: $max-polaroid-width;
}

.page-content {
  max-width: $max-polaroid-width;
  padding: $top-padding $right-padding 0 $left-padding;
}

p {
  position: relative;
  bottom: 130px;
}

@media(max-width: $small-screen-width-threshold) {
  $polaroid-width-small-screen: 780px;
  $polaroid-image-margin-top: -20px;

  :host {
    margin-top: 0;
    margin-left: 0;
    width: 1100px;// TODO: HACK: Remove. This is $note-pad-width.
  }

  .card-background-image {
    margin-top: $polaroid-image-margin-top;
    //width: $polaroid-width-small-screen;
  }

  .page-content {
    max-width: $polaroid-width-small-screen - 170px;
    padding: $top-padding + $polaroid-image-margin-top 0 0;
  }
}
