@import '../../../css/main';

:host {
}

nav {
  display: flex;
  flex-direction: column;
}

a,
span {
  color: #080808;
  font-size: font-size(xl);
  font-weight: bold;
  line-height: 48px;
}

a {
  color: #444444;

  &:hover {
    color: #000000;
  }
  &:active {
    color: #666666;
  }
}
