@import '../../css/main';

$top-padding: 80px;
$left-padding: 36px;
$right-padding: 32px;

$tablet-image-width: 180%;
$max-tablet-width: 600px;

$tablet-image-aspect-ratio: 0.75513933302;

:host {
  @include page();
  @include helvetica-font();
  color: color(gray-5);
  margin-left: -26px;
  margin-top: 4px;
}

:host,
h4 {
  font-size: 20px;
}

$paragraph-margin: 28px;

h2 {
  margin-bottom: 30px;
}

h3 {
  margin: 28px 0 20px;
}

h4 {
  font-weight: bold;
}

ul,
h4 {
  margin: 8px 0;
}

p {
  margin-bottom: $paragraph-margin;
}

.card-background-image {
  max-width: $max-tablet-width;
  width: $tablet-image-width;
  min-height: 880px;
}

// These values were hand-tuned. I should probably find a better way to calculate them.
$tablet-width: 600px;
$tablet-height: 832px;
$tablet-background-margin: 28px;

.card-background-image-background {
  background-color: color(gray-0);
  border-radius: 16px;
  margin-top: $tablet-background-margin - 4px;
  width: $tablet-width - $tablet-background-margin * 2;
  height: $tablet-height - $tablet-background-margin * 2;
}

.page-content {
  max-width: $max-tablet-width;
  padding: $top-padding $right-padding 0 $left-padding;
  margin-top: 50px;
}

.instagram-feed {
  min-width: 320px;
}

@media(max-width: $small-screen-width-threshold) {
  $tablet-width-small-screen: 120%;
  $s-tablet-height: 900px;

  :host {
    margin-left: 0;
    margin-top: 12px;
  }

  :host,
  h4 {
    font-size: 20px;
  }

  .card-background-image {
    width: $tablet-width-small-screen;
    min-height: $s-tablet-height;
    max-height: $s-tablet-height;
  }

  .card-background-image-background {
    height: $s-tablet-height - $tablet-background-margin * 2;
  }

  .page-content {
    padding: $top-padding 64px 0 64px;
    width: $tablet-width-small-screen;
    margin-top: 42px;
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  $tablet-width-small-screen: 130%;
  $xs-tablet-height: 920px;

  :host,
  h4 {
    font-size: 18px;
  }

  .card-background-image {
    width: $tablet-width-small-screen;
    min-height: $xs-tablet-height;
    max-height: $xs-tablet-height;
  }

  .card-background-image-background {
    height: $xs-tablet-height - $tablet-background-margin * 2;
    width: $tablet-width-small-screen - 10%;
  }

  .page-content {
    padding: $top-padding 52px 0 52px;
    margin-top: 64px;
  }
}
