<!-- The screen background color for the tablet. -->
<div class="card-background-image-background"></div>

<img class="card-background-image"
     src="assets/images/tablet.png"
     alt="A tablet in the background" />

<div class="page-content">
  <h2>
    Latest News
  </h2>

  <div class="credits">
    <h3>2017</h3>
    <ul>
      <li>Modern Times EP - Josh Doyle - Producer/Writer</li>
      <li>Separate Way - w-inds - Writer</li>
    </ul>

    <h3>2016</h3>
    <ul>
      <li>Burn The Bed - Candi Carpenter - Writer</li>
    </ul>
  </div>

  <div class="instagram-feed">
    FIXME
  </div>
</div>
