<!-- The screen background color for the tablet. -->
<div class="card-background-image-background"></div>

<img class="card-background-image"
     src="assets/images/tablet.png"
     alt="A tablet in the background" />

<div class="page-content">
  <h2>
    Latest News
  </h2>

  <div class="credits">
    <div *ngFor="let creditsYear of credits"
         class="credits-year">
      <h3>{{creditsYear.year}}</h3>
      <ul>
        <li *ngFor="let credit of creditsYear.credits">
          <span class="credit-title">{{credit.title}}</span>
          &mdash;
          <span class="credit-artist">{{credit.artist}}</span>
          &mdash;
          <span class="credit-alden-role">{{credit.aldenRole}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="instagram-feed">
    <a *ngFor="let config of imageConfigs"
       [href]="config.link"
       target="_blank">
      <img [src]="config.images.thumbnail.url"
           [alt]="config.caption.text" />
    </a>
  </div>
</div>
