// --- Shared values --- //

$colors: (
  black: #000000,
  white: #FFFFFF,

  gray-0: #060606, // 87% opacity of black on white
  gray-1: #212121, // 87% opacity of black on white
  gray-2: #727272, // 54% opacity of black on white
  gray-3: #b8b8b8, // 26% opacity of black on white
  gray-4: #dadada, // 12% opacity of black on white
  gray-5: #f9f9f9,

  blue-1: hsla(227, 36%, 22%, 1),
  blue-2: hsla(227, 36%, 32%, 1),
  blue-3: hsla(227, 36%, 52%, 1),
  blue-4: #2299EE,
  blue-5: #77CCFF,
  blue-6: hsla(227, 36%, 80%, 1),

  yellow-1: hsla(53, 36%, 22%, 1),
  yellow-2: #D6AF00,
  yellow-3: #FFE675,
  yellow-4: hsla(53, 36%, 80%, 1),

  green-1: hsla(128, 36%, 22%, 1),
  green-4: hsla(128, 36%, 80%, 1),

  red-1: hsla(4, 36%, 22%, 1),
  red-2: hsla(4, 36%, 32%, 1),
  red-3: hsla(4, 36%, 52%, 1),
  red-4: hsla(4, 36%, 80%, 1),

  purple-1: hsla(262, 36%, 22%, 1),
  purple-2: hsla(262, 36%, 32%, 1),
  purple-3: hsla(262, 36%, 52%, 1)
);

// Sizes for normal fonts.
//$font-sizes: (
//  xs: 12px,
//  s: 14px,
//  m: 16px,
//  l: 18px,
//  xl: 22px,
//  xxl: 48px,
//  xxxl: 100px,
//);

// Sizes for Own Written.
$font-sizes: (
  xs: 18px,
  s: 22px,
  m: 26px,
  l: 32px,
  xl: 38px,
  xxl: 58px,
  xxxl: 110px,
);

@mixin helvetica-font() {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
  'Lucida Grande', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@mixin normal-shadow() {
  box-shadow: 0 0 14px 0 rgba(color(gray-1), 0.3);
}

@mixin high-shadow() {
  box-shadow: 0 0 28px 0 rgba(color(gray-1), 0.3);
}

@mixin low-shadow() {
  box-shadow: 0 0 6px 0 rgba(color(gray-1), 0.3);
}

@mixin page() {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  left: 0;
  width: 100%;
  will-change: transform;

  h2 {
    margin-bottom: 8px;
    text-align: center;
  }
}

@mixin image-background($url, $width, $height) {
  background: url($url) no-repeat center center;
  background-size: $width $height;
}

$medium-screen-width-threshold: 1000px;// TODO: Tweak this.
$small-screen-width-threshold: 880px;
$extra-small-screen-width-threshold: 540px;

$note-pad-margin-top: -28px;
$note-pad-width: 940px;

$content-column-padding-left: 10px;
$content-column-padding-right: 70px;

$nav-list-width: 320px;

$note-pad-image-aspect-ratio: 0.73967046894;
$note-pad-height: $note-pad-width / $note-pad-image-aspect-ratio;
$desk-height: $note-pad-height + $note-pad-margin-top;
$content-column-width: $note-pad-width - $content-column-padding-left -
    $content-column-padding-right;
$page-area-width: $content-column-width - $nav-list-width;

/deep/ * {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
blockquote,
html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
alden-app {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

alden-app {
  background: hsl(42, 100%, 9%) url('../assets/images/wood.jpg');
  background-size: cover;
  color: color(gray-1);
  height: 100%;
  min-height: $desk-height;
}

ul {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

html {
  font-size: font-size(l);
}

h1,
h2,
h3,
h4,
h5 {
  //  font-family: ...;
}

a {
  //color: color(blue-2);
  color: color(black);
  cursor: pointer;
  opacity: 0.72;
  text-decoration: none;
  transition: color 0.2s;
}
a:visited {
  //color: color(purple-2);
}
a:hover {
  opacity: 1;
  //color: color(blue-3);
}
a:visited:hover {
  //color: color(purple-3);
}
a:active,
a:visited:active {
  //color: color(red-3);
}

.loading {
  $loading-p-margin: 8px;

  @include helvetica-font();
  bottom: 0;
  color: color(gray-5);
  font-size: font-size(xxl);
  line-height: font-size(xxl);
  height: font-size(xxl) * 2 + $loading-p-margin;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;

  p {
    margin-bottom: $loading-p-margin;
  }
}

/deep/ .card-background-image {
  display: block;
  left: -1000000px;
  margin: 0 auto;
  pointer-events: none;
  position: absolute;
  right: -1000000px;
  width: 100%;
}

/deep/ .card-background-image-background {
  display: block;
  left: -1000000px;
  margin: 0 auto;
  pointer-events: none;
  position: absolute;
  right: -1000000px;
  width: 100%;
}

/deep/ .page-content {
  position: relative;
}

/deep/ .card-header-image {
  height: 80px;
}

@media(max-width: $medium-screen-width-threshold) {
  html {
    font-size: font-size(m);
  }
}

@media(max-width: $small-screen-width-threshold) {
  html {
    font-size: font-size(m);
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  html {
    font-size: font-size(s);
  }
}
