// --- Shared values --- //

$colors: (
  black: #000000,
  white: #FFFFFF,

  gray-1: #212121, // 87% opacity of black on white
  gray-2: #727272, // 54% opacity of black on white
  gray-3: #b8b8b8, // 26% opacity of black on white
  gray-4: #dadada, // 12% opacity of black on white
  gray-5: #f9f9f9,

  blue-1: hsla(227, 36%, 22%, 1),
  blue-2: #2299EE,
  blue-3: #77CCFF,
  blue-4: hsla(227, 36%, 80%, 1),

  yellow-1: hsla(53, 36%, 22%, 1),
  yellow-2: #D6AF00,
  yellow-3: #FFE675,
  yellow-4: hsla(53, 36%, 80%, 1),

  green-1: hsla(128, 36%, 22%, 1),
  green-4: hsla(128, 36%, 80%, 1),

  red-1: hsla(4, 36%, 22%, 1),
  red-4: hsla(4, 36%, 80%, 1)
);

$font-sizes: (
  xs: 12px,
  s: 14px,
  m: 16px,
  l: 18px,
  xl: 22px,
  xxl: 48px,
  xxxl: 100px,
);

//@font-face {
//  font-family: font-name;
//  src: url('../fonts/**');// TODO: add custom font
//}

@mixin helvetica-stack() {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@mixin normal-shadow() {
  box-shadow: 0 0 14px 0 rgba(color(gray-1), 0.3);
}

@mixin high-shadow() {
  box-shadow: 0 0 28px 0 rgba(color(gray-1), 0.3);
}

@mixin low-shadow() {
  box-shadow: 0 0 6px 0 rgba(color(gray-1), 0.3);
}

@mixin page() {
  display: block;
  position: absolute;

  h2 {
    margin-bottom: 40px;
  }
}

// --- General style reset --- //

ul,
ol,
dl,
dd,
dt,
li,
div,
html,
body,
p,
form,
hr,
h1,
h2,
h3,
h4,
h5,
img,
button {
  margin: 0;
  padding: 0;
}

html,
body,
alden-app {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

ul {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

html {
  font-size: font-size(m);
}

body {
  @include helvetica-stack();

  color: color(gray-1);
  background-color: color(gray-5);
}

h1,
h2,
h3,
h4,
h5 {
  //  font-family: ...;
}

a {
  //  color: color(...);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;
}
a:visited {
  //  color: color(...);
}
a:hover {
  //  color: color(...);
  //text-decoration: underline;
}
a:active {
  //  color: color(...);
}
