@import '../../css/main';

$top-padding: 64px;
$left-padding: 20px;
$right-padding: 20px;

$envelope-image-width: 180%;
$max-envelope-width: 640px;

$envelope-image-aspect-ratio: 0.75513933302;

:host {
  @include page();
  margin-left: -6px;
  margin-top: -44px;
  font-size: font-size(s);
}

h2 {
  margin-bottom: -6px;
}

.card-background-image {
  max-height: 776px;
  max-width: $max-envelope-width;
  width: $envelope-image-width;
}

.page-content {
  max-width: $max-envelope-width;
  padding: $top-padding $right-padding 0 $left-padding;
}

@media(max-width: $small-screen-width-threshold) {
  $envelope-width-small-screen: 130%;

  :host {
    font-size: font-size(s);
    margin-left: 0;
    margin-top: -20px;
  }

  .card-background-image {
    width: $envelope-width-small-screen;
  }

  .page-content {
    padding: $top-padding 80px 0 80px;
    width: $envelope-width-small-screen;
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  :host {
    font-size: font-size(xs);
  }

  .card-background-image {
    min-height: 760px;
  }

  .page-content {
    padding: $top-padding 60px 0 60px;
  }
}
