<img class="card-background-image"
     src="assets/images/envelope.png"
     alt="An envelope in the background" />

<div class="page-content">
  <h2>
    <img class="card-header-image"
         src="assets/images/bio-header.png"
         alt="Bio" />
  </h2>
  <p>
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
    Alden Witt is one damn-sexy songwriter.
  </p>
</div>
