<img class="card-background-image"
     src="assets/images/envelope.png"
     alt="An envelope in the background" />

<div class="page-content">
  <h2>
    <img class="card-header-image"
         src="assets/images/bio-header.png"
         alt="Bio" />
  </h2>

  <blockquote>
    "He's the best unsigned writer in Nashville,"
  </blockquote>

  <p>
    says Candi Carpenter, co-writer of her debut single, "Burn The Bed", recently released by Sony
    Music.
  </p>

  <p>
    He doesn't look like a country writer&mdash;born into the Seattle grunge movement, he studied
    guitar at Berklee&mdash;but his songs speak for themselves. They speak for others too, with
    lyrics that sound like they were taken from a journal entry, not a writer's room on Music Row.
    They take you into peoples’ lives, with sparse honesty.
  </p>

  <p>
    A talented producer and mix engineer, his older demos, recorded in a 10'x10' bedroom beside a
    washer and dryer, have led to major label deals.
  </p>

  <p>
    On his trips to the coast, he collaborates with signed pop acts and track producers. His work
    has been featured on TV shows, songs written over skype have transformed into pop cuts in Asia,
    and his production and writing recently took an indie artist’s EP to #1 on the UK iTunes chart.
  </p>

  <p>
    Whether overlooking a beach in LA or the Cumberland riverbank in TN, the rules don't change
    much. He knows when he’s gotten it right, and he don't stop until it’s there.
  </p>
</div>
