@import '../../css/main';

$top-padding: 80px;
$left-padding: 20px;
$right-padding: 10px;

$envelope-image-width: 180%;
$max-envelope-width: 680px;

$envelope-image-aspect-ratio: 0.75513933302;

@font-face {
  font-family: 'Alphabetized Cassette Tapes';
  src: url('../../assets/fonts/alphabetized-cassette-tapes/alphabetized-cassette-tapes.ttf')
       format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin alphabetized-cassette-tapes-font() {
  font-family: 'Alphabetized Cassette Tapes', 'HelveticaNeue-Light', 'Helvetica Neue Light',
               'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host {
  @include page();
  @include alphabetized-cassette-tapes-font();
  margin-left: -20px;
  margin-top: -52px;
  font-size: 32px;
}

$paragraph-margin: 18px;
$blockquote-margin: 10px;

h2 {
  margin-bottom: 30px;
}

p {
  margin-bottom: $paragraph-margin;
}

blockquote {
  font-style: italic;
  margin: $blockquote-margin - $paragraph-margin 0 $blockquote-margin 40px;
}

.card-background-image {
  max-width: $max-envelope-width;
  width: $envelope-image-width;
  min-height: 994px;
}

.page-content {
  max-width: $max-envelope-width;
  padding: $top-padding $right-padding 0 $left-padding;
}

@media(max-width: $small-screen-width-threshold) {
  $envelope-width-small-screen: 130%;
  $s-envelope-height: 900px;

  :host {
    font-size: 29px;
    margin-left: 0;
    margin-top: -20px;
  }

  .card-background-image {
    width: $envelope-width-small-screen;
    min-height: $s-envelope-height;
    max-height: $s-envelope-height;
  }

  .page-content {
    padding: $top-padding 80px 0 80px;
    width: $envelope-width-small-screen;
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  $xs-envelope-height: 1126px;

  :host {
    font-size: 26px;
  }

  .card-background-image {
    min-height: $xs-envelope-height;
    max-height: $xs-envelope-height;
  }

  .page-content {
    padding: $top-padding 60px 0 60px;
  }
}

@media(max-width: $xxs-screen-width-threshold) {
  $xxs-envelope-height: 1200px;

  :host {
    font-size: 22px;
  }

  .card-background-image {
    min-height: $xxs-envelope-height;
    max-height: $xxs-envelope-height;
  }

  .page-content {
    padding: $top-padding 40px 0 40px;
  }
}
