<img class="card-background-image"
     src="assets/images/envelope.png"
     alt="An envelope in the background" />

<div class="page-content">
  <h2>
    <img class="card-header-image"
         src="assets/images/bio-header.png"
         alt="Bio" />
  </h2>

  <blockquote>
    "He's the best unsigned writer in Nashville,"
  </blockquote>

  <p>
    says Candi Carpenter, friend and cowriter of her breakout single, "Burn The Bed", recently
    released by Sony Music.
  </p>

  <p>
    He sure doesn't look like a country writer -- the high-energy Seattle kid who studied guitar at
    Berklee -- but his songs speak for themselves. They speak for others too, words that sound like
    they were penned on the front porch of a trailer or a bench in an old cemetery, not a writer's
    room on Music Row.
  </p>

  <p>
    "I'm a traveller," he says. "I like to visit people's lives, walk through their backyard. Peek
    in their closets."
  </p>

  <p>
    He certainly wears many hats, though you won't catch him in a snapback. A skilled mix engineer,
    his older demos, recorded in an 10'x10' bedroom beside a washer and dryer, have led to major
    label deals. On his trips to the coast, he collaborates with signed pop acts and track
    producers, and his work has been featured on TV shows. He says he feels right at home in the
    role of a chameleon. Whether overlooking an alley in LA or a riverbank in Tennessee,
  </p>

  <blockquote>
    "The rules don't change that much. I usually know, in my gut, when it's right. I just don't stop
    until it is."
  </blockquote>
</div>
