<div class="desk"
     *ngIf="areAssetsLoaded">
  <div class="note-pad"
       [class.hidden]="!hasAnimationStarted">
    <img class="card-background-image"
         src="assets/images/notebook.png"
         alt="An notepad in the background" />

    <div class="content-column">
      <header>
        <div class="title">
          <h1>
            <img class="doodle left"
                 src="assets/images/boat.png"
                 alt="A doodle of a boat" />
            <img class="main-title"
                 src="assets/images/alden-witt-title.png"
                 alt="Alden Witt" />
            <img class="doodle right"
                 src="assets/images/spaceship.png"
                 alt="A doodle of a spaceship" />
          </h1>
          <h2>
            <img src="assets/images/songwriter.png"
                 alt="Alden Witt" />
          </h2>
        </div>
      </header>

      <div class="body-area">
        <alden-nav-list></alden-nav-list>

        <div class="page-area">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
