@import '../../css/main';

$note-pad-margin-top: -74px;
$note-pad-width: 1000px;

$content-column-padding-left: 40px;
$content-column-padding-right: 100px;

$nav-list-width: 320px;

$note-pad-image-aspect-ratio: 0.73967046894;
$note-pad-height: $note-pad-width / $note-pad-image-aspect-ratio;
$desk-height: $note-pad-height + $note-pad-margin-top;
$content-column-width: $note-pad-width - $content-column-padding-left -
    $content-column-padding-right;
$page-area-width: $content-column-width - $nav-list-width;

html,
body,
:host {
  min-height: $desk-height;
}

:host {
  overflow: hidden;
}

.desk,
.note-pad,
.page-area {
  width: 100%;
}

.desk {
  background: #7c4a31 url('assets/images/wood.jpg');
  background-size: cover;
  height: 100%;
  min-height: $desk-height;
}

header {
  display: flex;
  justify-content: center;
  margin-left: $content-column-padding-right - $content-column-padding-left;

  > .title {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: right;
    white-space: nowrap;
  }

  h1 {
    margin: 0;
  }

  h1,
  .main-title {
    height: 180px;
  }

  h1>img {
    position: relative;
  }

  .doodle.left {
    bottom: 16px;
    height: 110px;
    right: -30px;
  }

  .doodle.right {
    bottom: 74px;
    height: 76px;
    left: -30px;
  }
}

.note-pad {
  display: flex;
  flex-direction: column;
  height: $note-pad-height;
  left: -100000px;
  margin: $note-pad-margin-top auto 0;
  max-width: $note-pad-width;
  position: absolute;
  right: -100000px;
  will-change: transform;
}

:host .note-pad>.card-background-image,
.card-background-image > img:not(.groceries) {
  width: $note-pad-width;
}

.hidden {
  visibility: hidden;
}

//
// For wide screens.
//

$body-area-left-offset: -140px;

.groceries {
  display: block;
  height: 114px;
  position: absolute;
  top: 970px;
  left: 200px;
}

.content-column {
  margin: 0 auto;
  padding: 214px $content-column-padding-right 0 $content-column-padding-left;
  width: 100%;
  z-index: 2;
}

.body-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: -8px;
  width: 100%;
}

alden-nav-list {
  flex: 1 1 $nav-list-width;
  max-width: $nav-list-width;
}

.page-area {
  align-items: center;
  display: flex;
  flex: 1 0 $page-area-width;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

//
// For narrow screens.
//

@media(max-width: $small-screen-width-threshold) {
  .content-column {
    padding: 220px 20px 0;
  }

  header {
    margin: 8px 0 14px;

    h1,
    .main-title {
      height: 120px;
    }

    .doodle.left {
      bottom: 4px;
      height: 82px;
      right: -30px;
    }

    .doodle.right {
      bottom: 44px;
      height: 60px;
      left: -24px;
    }
  }

  .body-area {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
  }

  alden-nav-list {
    width: 100%;
    margin: 0;
    flex: 1;
    max-width: 100%;
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  header {
    h1,
    .main-title {
      height: 100px;
    }

    .doodle.left {
      bottom: 4px;
      height: 72px;
      right: -30px;
    }

    .doodle.right {
      bottom: 38px;
      height: 50px;
      left: -20px;
    }
  }
}
