@import '../../css/main';

$note-pad-margin-top: -50px;
$note-pad-width: 1100px;

$content-column-padding-left: 100px;
$content-column-padding-right: 40px;

$note-pad-image-aspect-ratio: 0.73967046894;
$note-pad-height: $note-pad-width / $note-pad-image-aspect-ratio;
$desk-height: $note-pad-height + $note-pad-margin-top;

html,
body,
:host {
  min-height: $desk-height;
}

:host {
  overflow: hidden;
}

.desk,
.note-pad,
.page-area {
  width: 100%;
}

.desk {
  background: #7c4a31 url('assets/images/wood.jpg');
  background-size: cover;
  height: 100%;
  min-height: $desk-height;
}

header {
  display: flex;
  justify-content: center;
  margin: 8px 0 0 $content-column-padding-left - $content-column-padding-right;

  > .title {
    margin: 0 auto;
    text-align: right;
    white-space: nowrap;
  }

  h1,
  h2 {
    margin: 0;
  }

  h1,
  h1>img {
    height: 180px;
  }

  h2 {
    font-size: font-size(xxl);
    margin-top: -22px;
  }
}

.note-pad {
  display: flex;
  flex-direction: column;
  height: $note-pad-height;
  left: -100000px;
  margin: $note-pad-margin-top auto 0;
  max-width: $note-pad-width;
  position: absolute;
  right: -100000px;
  will-change: transform;
}

.card-background-image {
  width: $note-pad-width;
}

.hidden {
  visibility: hidden;
}

//
// For wide screens.
//

.content-column {
  margin: 0 auto;
  padding: 200px $content-column-padding-left 0 $content-column-padding-right;
  width: 100%;
  z-index: 2;
}

.body-area {
  display: flex;
  flex-direction: row-reverse;
}

alden-nav-list {
  margin-top: 60px;
  width: 180px;
}

.page-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

//
// For narrow screens.
//

@media(max-width: $small-screen-width-threshold) {
  .content-column {
    padding: 200px 20px 0;
  }

  header {
    margin: 8px 0 14px;

    h1,
    h1>img {
      height: 120px;
    }

    h2 {
      font-size: 42px;
    }
  }

  .body-area {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  alden-nav-list {
    width: 100%;
    margin: 0;
  }
}

@media(max-width: $extra-small-screen-width-threshold) {
  header {
    h1,
    h1>img {
      height: 100px;
    }

    h2 {
      font-size: 32px;
    }
  }
}
