@import '../../css/main';

$note-pad-padding-left: 60px;
$note-pad-margin-top: -50px;
$note-pad-width: 1000px;

$note-pad-image-aspect-ratio: 0.73967046894;
$note-pad-height: $note-pad-width / $note-pad-image-aspect-ratio;
$desk-height: $note-pad-height + $note-pad-margin-top;

html,
body,
:host {
  min-height: $desk-height;
}

:host {
  overflow: hidden;
}

.desk {
  background: #7c4a31 url('assets/images/wood.jpg');
  background-size: cover;
  height: 100%;
  min-height: $desk-height;
  min-width: 1000px;
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  margin: -20px 0 24px;

  > .title {
    margin: 0 auto;
    text-align: right;
    white-space: nowrap;
  }

  h1,
  h2 {
    margin: 0;
  }

  h1,
  h1>img {
    height: 180px;
  }

  h2 {
    font-size: font-size(xxl);
    margin-top: -22px;
  }
}

.note-pad {
  @include image-background('assets/images/notebook.png', $note-pad-width, $note-pad-height);
  display: flex;
  flex-direction: column;
  height: $note-pad-height;
  left: -100000px;
  margin: $note-pad-margin-top auto 0;
  padding-left: $note-pad-padding-left;
  position: absolute;
  right: -100000px;
  width: $note-pad-width - ($note-pad-padding-left * 2);
  will-change: transform;
}

.hidden {
  visibility: hidden;
}

//
// For wide screens.
//

.content-column {
  margin: 0 auto;
  padding-top: 200px;
  width: 100%;
  z-index: 2;
}

.body-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

alden-nav-list {
  width: 190px;
}

.page-area {
  position: relative;
  width: 640px;
}

//
// For narrow screens.
//

@media(max-width: $small-screen-width-threshold) {
  header {
    margin: -20px 0 14px;

    h1,
    h1>img {
      height: 120px;
    }

    h2 {
      font-size: 42px;
    }
  }

  .content-column {
    position: relative;
    left: -$note-pad-padding-left / 2;
    width: $content-column-width-for-narrow-screens;
  }

  .body-area {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  alden-nav-list {
    width: 100%;
    margin-bottom: 20px;
  }

  .page-area {
    position: relative;
    width: calc(100% - 24px);
  }
}
